<div class="drive data-grid">
    
    <span>Drive:</span>
    <span>MajdaDrive</span>
    
    <span>Capacity:</span>
    <span>500GB</span>

    <span>Space:</span>
    <span>220GB</span>

    <span>Created:</span>
    <span>2/12/2020 4:34PM</span>

</div>

@code {

}