<div class="drive-detail">
    @if (this.Drive == null)
    {
        <span>No drive selected...</span>
    }
    else
    {
        <div class="data-grid">
            <span>Drive:</span>
            <span>
                <b>@Drive.Name</b>
            </span>

            <span>Capacity:</span>
            <span>
                <b>@(Drive.Capacity.ToString())</b>
            </span>

            <span>Space:</span>
            <span>
                <b>@((Drive.Capacity - Drive.Taken).ToString())</b>
            </span>


            <span>Created:</span>
            <span>
                <b>2/12/2020 4:20PM</b>
            </span>
        </div>
    }


</div>

@code {

    [Parameter]
    public DriveModel Drive { get; set; }

}