@inject MongoService _ms;

<div class="file-detail">
    @if (this.IFile == null)
    {
        <span>No content selected...</span>
    }
    else
    {
        <h3>/@IFile.Name</h3>

        @if (this.IFile is FolderModel ffolder)
        {
            <img src="icons/folder.svg" width="72"/>
        }
        else if (this.IFile is FileModel ffile)
        {
            <img src="icons/file.svg" width="72"/>
        }

        <div class="data-grid">

            @if (this.IFile is FolderModel folder)
            {
                <span>Files:</span>
                <span>
                    <b>@folder.Files.Count.ToString()</b>
                </span>

                <span>Folders:</span>
                <span>
                    <b>@folder.Folders.Count.ToString()</b>
                </span>

                <span>Size:</span>
                <span>
                    <b>@folder.Size.ToString()</b>
                </span>
            }

            <span>Created:</span>
            <span>
                <b>2/12/2020 4:34PM</b>
            </span>

            <span>Last edit:</span>
            <span>
                <b>2/12/2020 4:34PM</b>
            </span>

            @* <span>Id:</span> *@
            @* <span> *@
            @*     <b>@this.IFile.Id.ToString()</b> *@
            @* </span> *@


        </div>

        <div class="file-detail-buttons">
            <button onclick="window.location.hash='share'">Share</button>
            @if (this.IFile is FolderModel)
            {
                <button class="danger" @onclick="async () => { await this._ms.DeleteFolder(this.IFile.Id); this.StateHasChanged(); }">Delete</button>
            }
            else if (this.IFile is FileModel)
            {
                <button class="danger" @onclick="async () => { await this._ms.DeleteFile(this.IFile.Id); this.StateHasChanged(); }">Delete</button>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public IFileModel IFile { get; set; }

}