@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.statistics {
  height: 180px;
  background: linear-gradient(91.72deg, #B930FA -0.45%, #6D4DB0 99.33%);
  border-radius: 0 0 6px 6px;
  padding: 30px 36px 18px 36px;
  
  @include drop;

  * {
    color: $background-primary;
  }

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  
  & > ul {
    text-align: right;
  }

  &-header {
    grid-row: 1/3;
    text-align: left;
  }
}