@mixin drop {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@mixin inset-drop {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), inset 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@mixin inset {
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.05);
}