$primary-color: #9655FF;

$info-color: #FFBE3F;
$success-color: #A9FC56;
$danger-color: #E21A4A;

$background-secondary: #F1F1F1;
$background-primary: #FBFBFB;

$text-primary: #292929;
$text-secondary: #646464;