@import "../abstracts/variables.scss";

button {
  padding: 6px 24px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: $info-color;
  outline: none;
  border: none;
  color: $text-primary;

  font-weight: 500;


  transition: 50ms opacity linear;

  &:hover {
    opacity: 0.65;
  }
}

button.danger {
  background-color: $danger-color;
  color: $background-primary;
}

button.success {
  background-color: $success-color;
}

button.primary {
  background-color: $primary-color;
  font-size: 1.1rem;
  color: $background-primary;
}

button.secondary {
  background-color: $background-primary;
}